# ZSH colors from wallust - load this in your .zshrc
WAL_FG="{{color7}}"
WAL_BG="{{color0}}"
WAL_COLOR0="{{color0}}"
WAL_COLOR1="{{color1}}"
WAL_COLOR2="{{color2}}"
WAL_COLOR3="{{color3}}"
WAL_COLOR4="{{color4}}"
WAL_COLOR5="{{color5}}"
WAL_COLOR6="{{color6}}"
WAL_COLOR7="{{color7}}"
WAL_COLOR8="{{color8}}"
WAL_COLOR9="{{color9}}"
WAL_COLOR10="{{color10}}"
WAL_COLOR11="{{color11}}"
WAL_COLOR12="{{color12}}"
WAL_COLOR13="{{color13}}"
WAL_COLOR14="{{color14}}"
WAL_COLOR15="{{color15}}"
